<footer>
    <div class="d-flex flex-wrap flex-column">
    <div class="container">
        <div>
            <div>
                {{'copyright'|translate}}
                <fa-icon [icon]="copyrightIcon"></fa-icon>
                2021
                {{'webAuthor'|translate}}
                {{'rightsReserved'|translate}}
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-between">
            <div>
                {{'dataSource:'|translate}}
                <a href="https://data.gov.hk/" target="_blank" rel="noopener noreferrer">https://data.gov.hk/</a>
            </div>
            <div>
                <a href="https://github.com/JoeLeung32/govhkdata" target="_blank" rel="noopener noreferrer">
                    <fa-icon [icon]="githubIcon"></fa-icon>
                </a>
            </div>
        </div>
    </div>
    </div>
</footer>
